@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ProximaNova-Bold.otf") format("otf");
}
@font-face {
  font-family: "ProximaNova";
  font-style: italic;
  font-weight: 700;
  src:
    url("../fonts/ProximaNova-BoldIt.otf") format("otf");
}
@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/ProximaNova-Light.otf") format("otf");
}
@font-face {
  font-family: "ProximaNova";
  font-style: italic;
  font-weight: 400;
  src:
    url("../fonts/ProximaNova-LightIt.otf") format("otf");
}
