// sizes
$phone-width: 375px;
$tablet-width: 1440px;
$desktop-width: 1920px;

// variables


$text-black: #233148;
$text-white: #ffffff;
$text-gray: #8796AE;
$background-main: #233148;
$background-secondary: #1F65D9;
$background-footer: #EAEFF5;
$background-button: #FCCF18;
$color-line: rgba(217, 223, 230, 0.3);
