<section class="main-content">   
  <div class="main-content-container">
    <div class="container-line"></div>
    <div class="center-line"></div>
    <div class="main-background-container">
      <img src="./images/logo.png" class="logo-icon" alt="Logo">
    </div>
    <div class="main-header">
      <svg
        class="header-icon"
        width="19"
        height="20"
        aria-label="Icon"
      >
        <use href="./images/svg/sprite.svg#label"
        ></use>
      </svg>
      <h4 class="header-title animated anim-items">
        SOMETHING<br>AS A SERVICE
      </h4> 
    </div>
    <ul class="main-content-list list">
      <li class="main-content-item">
        <svg class="main-content-item-icon" width="36" height="36" aria-label="Icon">
          <use href="./images/svg/sprite.svg#main-icon-1"></use>
        </svg>
        <h3 class="main-content-item-title animated anim-items">
          Digital identity
        </h3>
        <p class="main-content-text animated anim-items">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
        </p>
      </li>
      <li class="main-content-item">
        <svg class="main-content-item-icon" width="36" height="36" aria-label="Icon">
          <use href="./images/svg/sprite.svg#main-icon-2"></use>
        </svg>
        <h3 class="main-content-item-title animated anim-items">
          Trust Score
        </h3>
        <p class="main-content-text animated anim-items">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse vero illum earum nesciunt eligendi nobis porro possimus.
        </p>
      </li>
      <li class="main-content-item">
        <svg class="main-content-item-icon" width="36" height="36" aria-label="Icon">
          <use href="./images/svg/sprite.svg#main-icon-3"></use>
        </svg>
        <h3 class="main-content-item-title animated anim-items">
          Search engine
        </h3>
        <p class="main-content-text animated anim-items">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quisquam nesciunt dolore commodi sed at minima deserunt.
        </p>
      </li>
      <li class="main-content-item">
        <svg class="main-content-item-icon" width="36" height="36" aria-label="Icon">
          <use href="./images/svg/sprite.svg#main-icon-4"></use>
        </svg>
        <h3 class="main-content-item-title animated anim-items">
          User friendly
        </h3>
        <p class="main-content-text animated anim-items">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis est dolorum quo fuga voluptates saepe consequuntur!
        </p>
      </li>
    </ul>
  </div>
</section>
