<section class="secondary-content">
  <div class="secondary-responsive-container"></div> 
  <div class="secondary-content-container">   
    <svg  class="secondary-content-icon" width="197" height="229" aria-label="Icon">
      <use href="./images/svg/sprite.svg#secondaryIcon"></use>
    </svg>
      <div class="secondary-content-block">
        <h3 class="secondary-title animated anim-items">
          OUR<br>LIGHTPAPER
        </h3>
        <p class="secondary-description animated anim-items">
          Team is currently working on all its documents.
        </p>

        <div class="secondary-content-button"><a href="#downloud" target="_blanck" aria-label="Linck">
          DOWNLOAD
        </a></div>

        <div class="secondary-content-photo">
          <picture>
            <source srcset="./images/Broshure-374.png" media="(max-width: 1439px)" />
            <source srcset="./images/Broshure-1440.png" media="(min-width: 1440px)" />
            <source srcset="./images/Broshure-1920.png" media="(min-width: 1920px)" />
            <img src="./images/Broshure-374.png" alt="Image Broshure">
          </picture>
          <!-- <img src="./images/Broshure-374.png" alt="Image Broshure"
          srcset="
          ./images/Broshure-374.png (min-width: 375px),
          ./images/Broshure-1440.png 1440w,
          ./images/Broshure-1920.png 1920w
        "sizes=" 374px, (min-width: 1441px) 1440px, 100vw"
        /> -->
          
      </div>
      </div>
  </div>

</section>